@font-face {
	font-family: 'SF Pro Display', sans-serif;
	src: url(/fonts/SFPRODISPLAYREGULAR.OTF) format('otf');
	font-weight: 400;
}
@font-face {
	font-family: 'SF Pro Display', sans-serif;
	src: url(/fonts/SFPRODISPLAYMEDIUM.OTF) format('otf');
	font-weight: 500;
}
@font-face {
	font-family: 'SF Pro Display', sans-serif;
	src: url(/fonts/SFPRODISPLAYBOLD.OTF) format('otf');
	font-weight: 700;
}
